<h1>Categories</h1>
<p>Add a category here:</p>
<form action="/categories" method="post">
  <label for="category-name">Category Name</label>
  <input type="text" name="category-name">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back to home</a></p>
